.stars {
  display: flex;
  align-items: center;
  gap: 4px;

  &__star {
    width: 16px;
    height: 16px;
    display: block;
    background: url('../images/star.svg') center/contain no-repeat;
  }

  @for $n from 1 through 5 {
    &--#{$n} {
      .stars__star:nth-child(-n + #{$n}) {
        background-image: url('../images/star-active.svg');
      }
    }
  }
}
